/*"StAuth10244: I Peter-John Matzig, 000926606 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else."
This css file defines the look and feel of the component.*/
#deck{
    height: 100px;
    width: 50px;
    background-color: blueviolet;
    margin: 5px;
    cursor: pointer;
}
.card{
    border: 10px,solid,black;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    height: 100px;
    width:  50px;
    text-align: center;
    line-height: 100px;
}
.cardSelected{
    border: 10px,solid,green;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    height: 100px;
    width:  50px;
    text-align: center;
    line-height: 100px;
}
.btn{
    margin: 5px;
    padding: 3px;
}
.ctr{
    text-align: center;
}
#deck-container{
    display: inline-block;
    margin: auto;
}
#hand-container{
    text-align: center;
}
#hand-container div{
    display: inline-block;
}
#card-image{
    margin: 50px;
}