/* This css file defines the look and feel of the component.*/
#deck{
    height: 100px;
    width: 50px;
    background-color: blueviolet;
    margin: 5px;
}
.card{
    border: 10px,solid,black;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    height: 100px;
    width:  50px;
    text-align: center;
    line-height: 100px;
}
.cardSelected{
    border: 10px,solid,green;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    height: 100px;
    width:  50px;
    text-align: center;
    line-height: 100px;
}
.btn{
    margin: 5px;
    padding: 3px;
}